<div class="main_footer">
<!--    <h3>Fuß:</h3>-->

    <ul>
        <li>
            <i class="fa-brands fa-gitlab"></i>
            <a href="https://gitlab.com/helloki-web/hell_components">whell</a>
        </li>
        <li>
            <i class="fa-brands fa-gitlab"></i>
            <a href="https://gitlab.com/helloki-web/hell_components">whell-tools</a>
        </li>
        <li>
            <i class="fa-brands fa-gitlab"></i>
            <a href="https://gitlab.com/helloki-web/helloki_org">helloki-org</a>
        </li>
        <li>
            <i class="fa-brands fa-gitlab"></i>
            <a href="https://gitlab.com/helloki-web/helloca">helloca</a>
        </li>
    </ul>
</div>
