<div class="main_footer">
<!--    <h3>Fuß:</h3>-->

    <ul>
        <li>
            <i class="fa-brands fa-gitlab"></i>
            <a href="https://gitlab.com/helloki-web/hell_components">whell</a>
        </li>
        <li>
            <i class="fa-brands fa-gitlab"></i>
            <a href="https://gitlab.com/helloki-web/hell_components">whell-tools</a>
        </li>
        <li>
            <i class="fa-brands fa-gitlab"></i>
            <a href="https://gitlab.com/helloki-web/hell_components">whell-common</a>
        </li>

        <li>
            <i class="fa-brands fa-gitlab"></i>
            <a href="https://gitlab.com/helloki-web/helloki">helloki</a>
        </li>
        <li>
            <i class="fa-solid fa-globe"></i>
            <a href="https://helloki.org">helloki</a>
        </li>
        <li style="visibility: hidden"></li>

        <li>
            <i class="fa-brands fa-gitlab"></i>
            <a href="https://gitlab.com/helloki-web/helloca">helloca</a>
        </li>
        <li>
            <i class="fa-solid fa-globe"></i>
            <a href="https://helloca.org">helloca</a>
        </li>
        <li style="visibility: hidden"></li>
        
    </ul>
</div>
