/* ================================================================================================ */
/* definitions */
/* ================================================================================================ */

@font-face {
    font-family: roboto;
    src: url("/assets/fonts/roboto/roboto-regular-webfont.woff2") format("woff2"),
         url("/assets/fonts/roboto/roboto-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: alfaslabone;
    src: url("/assets/fonts/alfaslabone/alfaslabone-regular-webfont.woff2") format("woff2"),
         url("/assets/fonts/alfaslabone/alfaslabone-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: bebas_neue;
    src: url("/assets/fonts/bebas_neue/bebasneue-regular-webfont.woff2") format("woff2"),
         url("/assets/fonts/bebas_neue/bebasneue-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: orbitron;
    src: url("/assets/fonts/orbitron/orbitron-variablefont_wght-webfont.woff2") format("woff2"),
         url("/assets/fonts/orbitron/orbitron-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


:root {
    /*--gap: 1rem;*/
    --col_dark_200: hsl(0, 0%, 29%);
    --col_dark_300: hsl(0, 0%, 23%);
    --col_dark_400: hsl(0, 0%, 10%);
    --col_light_400: hsl(0, 0%, 100%);
    --col_light_600: hsl(0, 0%, 85%);
    --col_light_700: hsl(0, 0%, 70%);

    /*--col_prime_300: hsl(137, 100%, 63%);*/
    /*--col_prime_400: hsl(137, 73%, 50%);*/
    /*--col_prime_800: hsl(137, 86%, 30%);*/

    /*--col_sec_400: hsl(0, 72%, 50%);*/
    /*--col_sec_800: hsl(0, 100%, 28%);*/

    --col_prime_300: hsl(137, 100%, 63%);
    --col_prime_400: #22dd57;
    --col_prime_500: #00b12d;
    --col_prime_600: #008600;
    --col_prime_700: #005d00;
    --col_prime_800: #003700;

    --col_sec_200: #ff8caa;
    --col_sec_400: #ff004e;
    --col_ter_400: #00aaff;

    --fs_xl: 5rem;
    --fs_600: 1.5rem;
    --fs_500: 1.25rem;
    --fs_400: 1rem;

    --ff_prime: roboto;
    --ff_spice: orbitron;
}




/* ================================================================================================ */
/* global style */
/* ================================================================================================ */

html {
    height: 100%;
}

body {
    background: var(--col_light_400);
    color: var(--col_dark_400);

    overflow-x: hidden; /* prevent any possible overflows -> right nav */

    /* footer */
    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-size: var(--fs_400);
    font-family: var(--ff_prime);
}

footer-simple {
    margin-top: auto;
}

.content_container {
    max-width: min(80%, 50em);
    margin: 4rem auto;
}

.content_container_full { }

h1, h2, h3 {
    font-family: var(--ff_spice)
}
