<div class="header_blocker"></div>

<header class="primary_header sticky">
    <div class="logo">
        <button id="btn_logo">
            <img src="/assets/img/hellogo_2/hellogo_2_white.svg" alt="helllogo"/>
        </button>
    </div>


    <button class="mobile_nav_toggle"
            aria-controls="primary_navigation" aria-expanded="false">
        <span class="sr_only">Menu</span>
        <i class="fa-solid fa-xmark"></i>
    </button>


    <ul id="primary_navigation" class="primary_navigation flex" data-visible="false">
        <template>
            <li>
                <button>
                    <span aria-hidden="true">0</span>
                    <span>Template-Title</span>
                </button>
            </li>
        </template>
    </ul>

</header>
